
<div>
  <label for="recordsPerPage">Records per page:</label>
  <select id="recordsPerPage" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
  </select>
</div>


<div class="pagination">
  <button *ngFor="let page of getPaginationRange(totalPages)" class="btn btn-link" [class.active]="currentPage === page"
    (click)="onPageChange(page)">
    <button class="page">{{ page }}</button>
  </button>
</div>


<div class="datatable-container">
  <ngx-datatable class="material"   (activate)="onActivate($event)" [rows]="rows " [columns]="columns" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" width = "300">

  </ngx-datatable>
</div>

<div class="register">
  <a routerLink="/registration"><button style="background-color:  #06a12e">Register</button></a>
  <a><button style="background-color:  rgb(221, 28, 28)" (click)="logout()">LogOut</button></a>
</div>






<!-- <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls> -->