<section class="vh-400" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h3 fw-bold mb-3 mx-1 mx-md-4 mt-2">Sign up</p>

                                <form class="mx-1 mx-md-4" [formGroup]="registrationForm" (ngSubmit)="AddUser()">
                                    <!-- Type -->
                                    <div *ngIf="registrationForm.get('type').hasError('required') && registrationForm.get('type').touched"
                                        class="error-message">
                                        Type is Required
                                    </div>
                                    <div *ngIf="registrationForm.get('type').hasError('incorrectType')&& registrationForm.get('type').touched"
                                        class="error-message">
                                        Enter valid Type(e.g.- admin/user);
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" class="form-control"
                                                formControlName="type" appRemoveUnderscore />
                                            <label class="form-label" for="form3Example1c">Type<sub
                                                    style="color: red;">(in lowercase)</sub></label>
                                        </div>
                                    </div>

                                    <!-- Name -->
                                    <div *ngIf="registrationForm.get('name').hasError('required') && registrationForm.get('name').touched"
                                        class="error-message">
                                        Name is required
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" class="form-control"
                                                formControlName="name" appRemoveUnderscore />
                                            <label class="form-label" for="form3Example1c">Your Name</label>
                                        </div>
                                    </div>

                                    <!-- Email -->
                                    <div *ngIf="registrationForm.get('email').hasError('emailTaken') && registrationForm.get('email').touched"
                                    class="error-message">
                                    This email is already registered
                                  </div>
                                    <div *ngIf="registrationForm.get('email').hasError('required') && registrationForm.get('email').touched"
                                        class="error-message">
                                        Email is required
                                    </div>
                                    <div *ngIf="registrationForm.get('email').hasError('email') && registrationForm.get('email').touched"
                                        class="error-message">
                                        Enter a valid Email
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="email" id="form3Example3c" class="form-control"
                                                formControlName="email" appRemoveUnderscore />
                                            <label class="form-label" for="form3Example3c">Your Email</label>
                                        </div>
                                    </div>

                                    <!-- Password -->
                                    <div *ngIf="registrationForm.get('password').hasError('required') && registrationForm.get('password').touched"
                                        class="error-message">
                                        Password is required
                                    </div>
                                    <div *ngIf="registrationForm.get('password').hasError('minLength')"
                                        class="error-message">
                                        Password must be at least 8 characters long
                                    </div>
                                    <div *ngIf="registrationForm.get('password').hasError('invalidPassword')"
                                        class="error-message">
                                        Password must contain at least one uppercase letter, one lowercase letter, and
                                        one number
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="password" id="form3Example4c" class="form-control"
                                                formControlName="password" />
                                            <label class="form-label" for="form3Example4c">Password</label>
                                        </div>
                                    </div>

                                    <!-- Address -->
                                    <div *ngIf="registrationForm.get('address').hasError('required') && registrationForm.get('address').touched"
                                        class="error-message">
                                        Address is required
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="email" id="form3Example3c" class="form-control"
                                                formControlName="address" />
                                            <label class="form-label" for="form3Example3c">Address</label>
                                        </div>
                                    </div>

                                    <!-- Contact -->
                                    <div *ngIf="registrationForm.get('phone').hasError('required') && registrationForm.get('phone').touched"
                                        class="error-message">
                                        Contact is required
                                    </div>
                                    <div *ngIf="registrationForm.get('phone').hasError('pattern') && registrationForm.get('phone').touched"
                                        class="error-message">
                                        Enter a valid Contact
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example3c" class="form-control"
                                                formControlName="phone" />
                                            <label class="form-label" for="form3Example3c">Contact</label>
                                        </div>
                                    </div>

                                    <!-- Dob -->
                                    <div *ngIf="registrationForm.get('dob').hasError('required') && registrationForm.get('dob').touched"
                                        class="error-message">
                                        Date of Birth is required
                                    </div>
                                    <div *ngIf="registrationForm.get('dob').hasError('invalidDOB') && registrationForm.get('dob').touched"
                                        class="error-message">
                                        Must be 18 years or older
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-calendar fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="date" id="form3Example3c" class="form-control"
                                                formControlName="dob" />
                                            <label class="form-label" for="form3Example3c">Date of Birth</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <input type="file" accept="image/png, image/jpeg" class="form-control upload-btn" formControlName="image" placeholder="Upload Images" (change)="onFileSelected($event)"  required>
                                    </div>


                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg"
                                            [disabled]="!isFormValid()" (click)="checkEmail($event)">Register</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>